@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

ul {
  list-style: none;
  line-height: 150%;
  color: #5C5C5C;
}

.h2 {
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 40px;
}

.h3 {
  margin-bottom: 16px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

.h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin: 0;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button {
  min-width: 232px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  border-radius: 8px;
}

.button__dark {
  background: #1972E7;
  color: #FAFAFA;
}

.button__light {
  background: #E5F8FF;
  color: #1C7EFF;
}

.list {
  gap: 26px;
  align-items: center;
}

.list-icon {
  width: 16px;
}

.big-number {
  color: #6FB955;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
}

.ai-main-screen {
  padding: 42px 0;
}

.ai-main-screen_header {
  text-align: center;
  margin-bottom: 32px;
  width: 400px;
}

.ai-main-screen_text {
  color: #5C5C5C;
}

.ai-main-screen_text__p {
  text-align: center;
  line-height: 250%;
}

.ai-main-screen_text ul {
  padding: 0;
  margin: 0 0 32px 0;
}

.ai-main-screen_text li {
  position: relative;
  color: #5C5C5C;
  line-height: 250%;
}

.ai-main-screen_text li:before {
  content: url(img/Check.svg);
  padding-right: 12px;
}

.ai-main-screen_buttons {
  gap: 16px;
}

/* Навигация */

.ai-content {
  margin-bottom: 48px;
}

.content-nav {
  flex-wrap: nowrap;
  font-size: 18px;
  line-height: 200%;
  color: #5C5C5C;
  gap: 40px;
}

.content-nav-container {
  overflow-x: scroll;
  word-wrap: break-word;
}

.content-nav-container::-webkit-scrollbar {
  height: 0;
}

.content-nav a {
  font-size: 18px;
  line-height: 150%;
  color: #5C5C5C;
  text-decoration: none;
}

.content-nav_item {
  flex-shrink: 0;
}

.content-nav_item__active {
  border-bottom: 2px solid #1C7EFF;
}

.content-nav_item__active a {
  color: #1C7EFF;
}

/* AI about */

.ai-about-cards {
  gap: 40px;
  margin-bottom: 40px;
  padding: 0 24px;
}

.ai-about-card {
  gap: 24px;
  font-weight: 500;
}

.ai-about-card_icon {
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 24px;
}

.ai-about_button button {
  width: 328px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.ai-about_button i {
  font-size: 24px;
}

/* AI what you get */

.ai-get {
  padding: 40px 0;
}

.ai-get-cards {
  gap: 40px;
}

.ai-get-card {
  margin: 0 24px;
}

.ai-get-card_icon {
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 40px;
}

.ai-get-card_icon img{
  width: 48px;
  height: 48px;
}

.ai-get-card_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}

.ai-get-card_description {
  color: #5C5C5C;
  text-align: center;
}

/*---------------------- Possibilities -----------------*/

.possibilities {
  margin-bottom: 80px;
}

.possibilities-head {
  padding: 0;
  width: 300px;
  margin-bottom: 40px;
}

.possibilities-head h3 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.possibilities-head_description {
  color: #5C5C5C;
}

.possibilities-cards {
  gap: 40px;
}

.possibilities-card {
  padding: 0;
  width: 300px;
  gap: 24px;
}

.possibilities-card_title {
  margin-bottom: 24px;
}


.possibilities-card_list {
  gap: 8px;
  color: #5C5C5C;
}

/* ---------------------- Integrations ---------------- */

.integration {
  margin-bottom: 40px;
}

.integration-head {
  text-align: center;
  margin-bottom: 24px;
}

.integration-head_descr {
  text-align: center;
  color: #5C5C5C;
}

.integration-cards {
  gap: 8px;
  margin-bottom: 24px;
}

.integration-card {
  width: 160px;
  height: 100px;
  border: 2px solid #E5F8FF;
  border-radius: 8px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------- Suppliers ------------------- */

.suppliers {
  background-color: #E5F8FF;
  padding: 40px 0;
}

.suppliers-head {
  width: 230px;
}

.suppliers-content_counter {
  margin-bottom: 40px;
}

.suppliers-content_counter_descr {
  text-align: center;
  width: 230px;
}

.suppliers-content_cards {
  gap: 10px;
}

.suppliers-content_card {
  width: 155px;
  height: 90px;
  border: 2px solid #92BCCC;
  border-radius: 8px;
}

.suppliers-content_show-all {
  color: #1972E7;
}

.suppliers-content_show-all img {
  height: 12px;
}


/*----------------------- Media ------------------------*/

@media (max-width: 767.9px) {
  .button {
    width: 312px
  }

  .ai-main-screen_header {
    width: 336px;
  }

  .integration-head h2 {
    margin-bottom: 16px;
  }

  .suppliers-content_show-all {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .h4 {
    font-size: 32px;
  }

  .list-text {
    font-size: 18px;
  }

  .ai-content {
    margin: 0;
  }

  .ai-about {
    padding: 80px 0;
  }

  .ai-about-card_text {
    font-size: 24px;
  }

  .ai-about-card_icon {
    padding: 25px;
  }

  .ai-get {
    padding: 80px 0;
  }

  .ai-get h2 {
    text-align: start;
  }

  .ai-get-cards {
    gap: 40px 44px;
  }

  .ai-get-card {
    width: 200px;
    margin: 0;
  }

  .ai-get-card_title h3 {
    text-align: start;
  }

  .ai-get-card_description {
    text-align: start;
    font-size: 14px;
  }

  .possibilities {
    margin-bottom: 160px;
  }

  .possibilities-head {
    text-align: center;
    width: 400px;
  }

  .possibilities-head_header {
    text-align: center;
  }

  .possibilities-head_description {
    font-size: 18px;
    text-align: center;
  }

  .possibilities-cards {
    gap: 62px;
  }

  .possibilities-card {
    padding: 0;
    width: 100%;
    gap: 24px;
  }

  .possibilities-card_title {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .possibilities-card_list {
    gap: 16px;
    color: #5C5C5C;
  }

  .possibilities-card_image {
    margin: 0 auto;
  }

  .integration-cards {
    gap: 24px;
  }

  .integration-card {
    width: 200px;
    height: 140px;
  }

  .suppliers-head {
    width: 100%;
    text-align: center;
  }

  .suppliers-content {
    padding: 0;
  }

  .suppliers-content_cards {
    gap: 20px;
  }

  .suppliers-content_card {
    width: 225px;
    height: 134px;
  }

  .suppliers-content_show-all {
    width: 225px;
  }

}

@media (min-width: 1200px) {

  .main-screen h1 {
    text-align: start;
  }

  .main-screen_text__p {
    text-align: start;
  }

  .ai-about {
    padding: 150px 0;
  }

  .ai-about h2 {
    margin-bottom: 64px;
  }

  .ai-about-cards {
    gap: 40px 8px;
    padding: 0;
    width: 1096px;
    margin-bottom: 64px;
  }

  .ai-about-card {
    width: 360px;
  }

  .ai-about-card_icon {
    padding: 22px;
  }

  .ai-get {
    padding: 150px 0;
  }

  .ai-get-cards {
    gap: 15px;
  }

  .possibilities-head {
    margin-bottom: 100px;
  }

  .integration-cards {
    gap: 40px;
  }

  .integration-card {
    width: 320px;
    height: 200px;
  }

  .integration-card img {
    width: 53%;
    height: 53%;
  }

  .suppliers-content_counter_descr {
    text-align: start;
  }

  .suppliers-content_cards {
    gap: 24px;
  }

  .suppliers-content_card {
    width: 280px;
    height: 138px;
  }

  .suppliers-content_show-all {
    width: 280px;
  }
}

@media (min-width: 1440px) {
  .ai-get-cards {
    padding: 0;
    gap: 75px;
  }
}
